body {
    background-image: url('fruits.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ui.container {
    margin-top: 20px;
}

.ui.segment {
    margin-top: 20px; 
}

.ui.header {
    font-size: 100px;
}


.header-container {
    display: flex;
    align-items: center;
}

.header-container img {
    margin-right: 10px; 
}
